


*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body{

    color: #fff;

}



header{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    z-index: 10;
}

.Nav_Bar{


    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

}
.Logo img {


    width: 120px;

}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

nav a {
    text-decoration: none;
    color: red;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 500;
}

.Sign-In {

    background-color: red;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.Sign-In:hover {
    background-color: red;
}




